// mobile và tablet
@media (max-width: 1023px) {
    .close-nav-menu {
        display: block !important;
        margin: 20px auto auto;
        cursor: pointer;
    }
    .header__menu {
        background: $color-white;
        padding: 10px;
        z-index: 10;
        // width: 292px;
        // border-radius: 8px;
        // border: 1px solid $color-grey;
    }
    .header__container {
        align-items: unset;
        .header__menu_inner {
            position: relative;
            .header__menu {
                display: block !important;
                position: fixed;
                top: 105px;
                right: 0;
                left: 0;
                bottom: 0;
                text-align: center;
                li {
                    padding: 10px 0;
                    margin-right: unset !important;
                }
                &.d-none {
                    visibility: hidden;
                    opacity: 0;
                }
                &.active {
                    visibility: visible;
                    opacity: 1;
                    transition: all .3s ease-in;
                    height: 100vh;
                }
            }
            .btn--header {
                margin-right: 16px;
            }
        }
    }
    .nav__menu {
        display: unset !important;
    }
}

// tablet
@media (min-width: 740px) and (max-width: 1024px) {
    figure.snip1421 {
        width: 200px !important;
        height: 200px !important;
    }
    .header__content {
        display: block !important;
        .header__content-about {
            margin-top: unset;
            margin-right: unset;
            text-align: center;
            .btn-primary {
                margin: 0 auto 30px auto !important;
            }
        }
        .header__content-box {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;
            .header__img-1 {
                left: unset !important;
                top: unset !important;
            }
            .header__img-2 {
                right: unset !important;
                top: unset !important;
            }
            .header__img-3 {
                top: unset !important;
            }
        }
    }
    .seoshine__client .seoshine__client-list li {
        width: calc(100% / 3);
    }
    .section__service .service__list .service__item {
        width: calc(33.33% - 16px);
    }
    .modal .modal__size {
        width: 600px !important;
    }
}

// mobile
@media (max-width: 739px) {
    .service__title h3 {
        font-size: 33px;
    }
    figure.snip1421 {
        width: 200px !important;
        height: 200px !important;
    }
    .header__content {
        display: block !important;
        .header__content-about {
            margin-top: unset;
            text-align: center;
            margin-right: unset;
            .btn-primary {
                display: none !important;
            }
        }
        .header__content-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            .header__img-1 {
                top: 10rem;
                left: 10.4rem;
            }
            .header__img-2 {
                // top: -200px !important;
                // right: -3rem !important;
            }
            .header__img-3 {
                top: 10rem;
                right: 10.4rem;
            }
        }
    }
    .header__logo {
        img {
            width: 66px;
        }
    }
    .btn--header {
        padding: 2px 6px !important;
    }
    .header__content-about h1 {
        font-size: 26px !important;
    }
    // service
    .service__list {
        flex-wrap: unset !important;
        justify-content: unset !important;
        padding: 12px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        .service__item {
            width: 100% !important;
        }
    }
    .seoshine__circle-inner {
        width: 250px !important;
        height: 250px !important;
        .seoshine__circle-counter {
            top: 0 !important;
            right: -12px !important;
        }
    }
    .seoshine__client .seoshine__client-list li {
        width: calc(100% / 2);
    }
    .modal .modal__size {
        display: block !important;
        width: 300px !important;
        .modal__close {
            top: 2px !important;
            right: 2px !important;
        }
        .modal__size-item {
            width: 100%;
            // text-align: center;
            img {
                width: 50%;
                height: 50%;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .seoshine__help-list {
        display: block;
        .seoshine__help-item {
            width: 100%;
        }
    }
}