// mobile và tablet
@media (max-width: 1023px) {
    .header__menu {
        background: #ffff;
        padding: 10px;
        z-index: 10;
        width: 292px;
        border-radius: 8px;
        border: 1px solid #808080;
        li {
            &:not(:last-child) {
                border-bottom: 1px solid $color-primary;
            }
        }
    }
    #header {
        padding: 16px !important;
    }
    .header__container {
        align-items: unset;
        .header__menu_inner {
            // display: block !important;
            position: relative;
            .header__menu {
                display: block !important;
                position: absolute;
                top: 50px;
                right: 0;
                text-align: right;
                li {
                    padding: 10px 0;
                    margin-right: unset !important;
                }
                &.d-none {
                    visibility: hidden;
                    opacity: 0;
                    // display: none !important;
                }
                &.open {
                    visibility: visible;
                    opacity: 1;
                    // display: block !important;
                    transition: all .3s ease-in;
                }
            }
            .btn--header {
                margin-right: 8px;
            }
        }
    }
    .nav__menu {
        display: unset !important;
    }
}

// tablet
@media (min-width: 740px) and (max-width: 1024px) {
    figure.snip1421 {
        width: 200px !important;
        height: 200px !important;
    }
    .header__content {
        display: block !important;
        .header__content-about {
            margin-top: unset;
            margin-right: unset;
            text-align: center;
            .btn-primary {
                margin: 0 auto 30px auto !important;
            }
        }
        .header__content-box {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;
            .header__img-1 {
                left: unset !important;
                top: unset !important;
            }
            .header__img-2{
                right: unset !important;
                top: unset !important;
            }
            .header__img-3{
                top: unset !important;
            }
        }
    }
}

// mobile
@media (max-width: 739px) {
    figure.snip1421 {
        width: 150px !important;
        height: 150px !important;
    }
    .header__content {
        display: block !important;
        .header__content-about {
            margin-top: unset;
            text-align: center;
            margin-right: unset;
            .btn-primary {
                display: none !important;
            }
        }
        .header__content-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            .header__img-1 {
                left: -4rem !important;
                top: 0 !important;
            }
            .header__img-2 {
                top: -150px !important;
                right: -4rem !important;
            }
            .header__img-3 {
                top: -12rem !important;
                left: 0 !important;
            }
        }
    }
    .header__logo {
        img {
            width: 66px;
        }
    }
    .btn--header {
        padding: 2px 6px !important;
    }
    .header__content-about h1 {
        font-size: 26px !important;
    }
}

.l-container {
    max-width: 1536px;
    margin: 0 auto;
}