@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

// font
@mixin text-spacing {
    line-height: 150%;
    letter-spacing: .01em;
}

@mixin font-config($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

// btn