@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
.gg-menu {
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}

.gg-menu::after {
  top: 6px;
}

.gg-corner-up-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
}

.gg-corner-up-right::after,
.gg-corner-up-right::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 3px;
}

.gg-corner-up-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 3px;
}

.gg-corner-up-right::before {
  width: 16px;
  height: 12px;
  border-top-left-radius: 4px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: 6px;
}

.gg-close {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #808080;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  overflow: hidden;
}

#cursor {
  position: absolute;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 1;
  border: 6px solid #ffff66;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-box-shadow: 0 0 45px 7px #ffcc99;
          box-shadow: 0 0 45px 7px #ffcc99;
  z-index: 2;
  pointer-events: none;
}

.trailEl {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #957000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  z-index: 1;
  pointer-events: none;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.l-container {
  max-width: 1536px;
  margin: 0 auto;
}

.section__service {
  background: url(./images/bg-service.png);
  padding: 16px;
}

.section__service .service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.section__service .service__list .service__item {
  width: calc(25% - 16px);
  border-radius: 10px;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px;
  background: #ffff;
  border: 1px solid rgba(16, 16, 16, 0.1);
}

.section__service .service__list .service__item:hover {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}

.section__service .service__list .service__item h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  color: #000;
  margin-bottom: 18px;
  position: relative;
}

.section__service .service__list .service__item h4::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #957000;
  bottom: 0;
}

.section__service .service__list .service__item .service__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 18px;
}

.section__service .service__list .service__item .service__image img {
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.section__service .service__list .service__item .service__image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section__service .service__list .service__item .service__image img:first-child {
  margin-right: -32px;
}

.section__service .service__list .service__item .service__image img:last-child {
  margin-left: -32px;
}

.section__service .service__list .service__item .service__desc {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
}

.service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0;
  text-align: center;
}

.service__title h3 {
  font-size: 43px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  color: #000;
  position: relative;
}

.service__title h3::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 70%;
  bottom: 10px;
  left: -13px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc99), to(#ffff66));
  background: linear-gradient(to bottom, #ffcc99 0%, #ffff66 100%);
  z-index: -1;
}

.sclick__slider {
  padding: 16px;
}

.sclick__slider .seoshine__sclick--slider li .seoshine__circle-inner {
  background-color: #fff;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.sclick__slider .seoshine__sclick--slider li .seoshine__circle-inner .seoshine__circle-box {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: .01em;
}

.sclick__slider .seoshine__sclick--slider li .seoshine__circle-inner .seoshine__circle-counter {
  position: absolute;
  top: 24px;
  right: -35px;
  width: 100px;
  height: 100px;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#F08080), to(#F2E9E4));
  background-image: linear-gradient(to right, #F08080, #F2E9E4);
}

.sclick__slider .seoshine__sclick--slider li .seoshine__circle-inner .seoshine__circle-counter .counter {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  color: #ffff;
}

.sclick__slider .seoshine__sclick--slider li .seoshine__circle-inner .seoshine__circle-counter span {
  color: #ffff;
  font-size: 20px;
}

.sclick__slider .seoshine__sclick--slider li:nth-of-type(2n + 1) .seoshine__circle-counter {
  background-image: -webkit-gradient(linear, left top, right top, from(#023E8A), to(#48CAE4));
  background-image: linear-gradient(to right, #023E8A, #48CAE4);
}

.sclick__slider .seoshine__sclick--slider li:nth-of-type(3n + 1) .seoshine__circle-counter {
  background: #48CAE4;
  background-image: -webkit-gradient(linear, left top, right top, from(#588157), to(#A3B18A));
  background-image: linear-gradient(to right, #588157, #A3B18A);
}

.section__count {
  background: url(./images/bg-service.png);
}

.seoshine__client .seoshine__client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url(./images/background-dark-min.jpg);
  padding: 16px;
  width: 100%;
  background-size: cover;
  background-position: cover;
}

.seoshine__client .seoshine__client-list li {
  width: calc(100% / 6);
  text-align: center;
}

.seoshine__client .seoshine__client-list li img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(105%) contrast(104%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(105%) contrast(104%);
}

.seoshine__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seoshine__error-txt {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
}

.seoshine__help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: orangered;
}

.seoshine__help-list .seoshine__help-item {
  padding: 20px;
  width: calc(100% / 3);
}

.seoshine__help-list .seoshine__help-item h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  margin-top: 16px;
}

.seoshine__help-list .seoshine__help-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: .01em;
}

@media (max-width: 1023px) {
  .close-nav-menu {
    display: block !important;
    margin: 20px auto auto;
    cursor: pointer;
  }
  .header__menu {
    background: #ffff;
    padding: 10px;
    z-index: 10;
  }
  .header__container {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .header__container .header__menu_inner {
    position: relative;
  }
  .header__container .header__menu_inner .header__menu {
    display: block !important;
    position: fixed;
    top: 105px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  .header__container .header__menu_inner .header__menu li {
    padding: 10px 0;
    margin-right: unset !important;
  }
  .header__container .header__menu_inner .header__menu.d-none {
    visibility: hidden;
    opacity: 0;
  }
  .header__container .header__menu_inner .header__menu.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .header__container .header__menu_inner .btn--header {
    margin-right: 8px;
  }
  .nav__menu {
    display: unset !important;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  figure.snip1421 {
    width: 200px !important;
    height: 200px !important;
  }
  .header__content {
    display: block !important;
  }
  .header__content .header__content-about {
    margin-top: unset;
    margin-right: unset;
    text-align: center;
  }
  .header__content .header__content-about .btn-primary {
    margin: 0 auto 30px auto !important;
  }
  .header__content .header__content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__content .header__content-box .header__img-1 {
    left: unset !important;
    top: unset !important;
  }
  .header__content .header__content-box .header__img-2 {
    right: unset !important;
    top: unset !important;
  }
  .header__content .header__content-box .header__img-3 {
    top: unset !important;
  }
  .seoshine__client .seoshine__client-list li {
    width: calc(100% / 3);
  }
  .section__service .service__list .service__item {
    width: calc(33.33% - 16px);
  }
  .modal .modal__size {
    width: 600px !important;
  }
}

@media (max-width: 739px) {
  .service__title h3 {
    font-size: 33px;
  }
  figure.snip1421 {
    width: 200px !important;
    height: 200px !important;
  }
  .header__content {
    display: block !important;
  }
  .header__content .header__content-about {
    margin-top: unset;
    text-align: center;
    margin-right: unset;
  }
  .header__content .header__content-about .btn-primary {
    display: none !important;
  }
  .header__content .header__content-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__content .header__content-wrapper .header__img-1 {
    top: 10rem;
    left: 10.4rem;
  }
  .header__content .header__content-wrapper .header__img-3 {
    top: 10rem;
    right: 10.4rem;
  }
  .header__logo img {
    width: 66px;
  }
  .btn--header {
    padding: 2px 6px !important;
  }
  .header__content-about h1 {
    font-size: 26px !important;
  }
  .service__list {
    -ms-flex-wrap: unset !important;
        flex-wrap: unset !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    padding: 12px;
    overflow-x: auto;
  }
  .service__list::-webkit-scrollbar {
    display: none;
  }
  .service__list .service__item {
    width: 100% !important;
  }
  .seoshine__circle-inner {
    width: 250px !important;
    height: 250px !important;
  }
  .seoshine__circle-inner .seoshine__circle-counter {
    top: 0 !important;
    right: -12px !important;
  }
  .seoshine__client .seoshine__client-list li {
    width: calc(100% / 2);
  }
  .modal .modal__size {
    display: block !important;
    width: 300px !important;
  }
  .modal .modal__size .modal__close {
    top: 2px !important;
    right: 2px !important;
  }
  .modal .modal__size .modal__size-item {
    width: 100%;
  }
  .modal .modal__size .modal__size-item img {
    width: 50%;
    height: 50%;
    margin-top: 10px;
    text-align: center;
  }
  .seoshine__help-list {
    display: block;
  }
  .seoshine__help-list .seoshine__help-item {
    width: 100%;
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 16, 16, 0.8);
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
  width: 800px;
  border-radius: 8px;
  padding: 12px;
  position: relative;
}

.modal .modal__size .modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.modal .modal__size-item {
  width: 50%;
}

.modal .modal__size-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal .modal__size-item h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  margin-bottom: 16px;
}

.modal .modal__size-item p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 150%;
  letter-spacing: .01em;
}

.modal .modal__size-item .modal__user:not(:last-child) {
  margin-bottom: 8px;
}

.modal .modal__size-item .modal__user label {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  color: #000;
  width: 50px;
}

.modal .modal__size-item .modal__user input,
.modal .modal__size-item .modal__user textarea {
  border-radius: 8px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(16, 16, 16, 0.1);
  resize: none;
  width: 100%;
}

.modal.active {
  visibility: inherit;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.no-scroll {
  overflow: hidden;
}

.header__container {
  background: #000;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container .header__menu_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__menu_inner .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__menu_inner .header__menu li {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc99), to(#ffff66));
  background: linear-gradient(to bottom, #ffcc99 0%, #ffff66 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 16px;
  padding: 16px;
  border-radius: 8px;
}

.header__container .header__menu_inner .header__menu li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc99), to(#ffff66));
  background: linear-gradient(to bottom, #ffcc99 0%, #ffff66 100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-text-fill-color: unset;
}

.header__container .header__menu_inner .header__menu li:hover a {
  color: #000;
}

.nav__menu {
  display: none;
}

.btn {
  background: transparent;
  border-radius: 0.6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  padding: 8px 18px;
  text-align: center;
  cursor: pointer;
}

.btn.btn--header, .btn.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px #957000;
}

.btn.btn--header i, .btn.btn-primary i {
  margin-left: 8px;
}

.btn.btn--header:hover, .btn.btn-primary:hover {
  -webkit-transition: ease-in 0.7s;
  transition: ease-in 0.7s;
  -webkit-box-shadow: inset 300px 0 0 0 #ffff66;
          box-shadow: inset 300px 0 0 0 #ffff66;
  cursor: pointer;
  color: #0b0b0f;
}

.header__content-about {
  padding: 20px 0;
}

.header__content-about h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: .01em;
  margin-bottom: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc99), to(#ffff66));
  background: linear-gradient(to bottom, #ffcc99 0%, #ffff66 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content-about .btn-primary {
  width: 200px;
  margin: 0 auto;
}

.header__content {
  text-align: center;
  background-image: url("../styles/images/background-dark-min.jpg");
  height: 550px;
  width: 100%;
  background-size: cover;
  background-position: cover;
}

.header__content .header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.header__content .header__content-box .header__img-1:hover {
  z-index: 10;
  border: 4px solid #957000;
}

.header__content .header__content-box .header__img-2:hover {
  z-index: 10;
  border: 4px solid #957000;
}

.header__content figure.snip1421 {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 999px;
}

.header__content figure.snip1421:hover {
  z-index: 10%;
  border: 4px solid #957000;
}

.header__content figure.snip1421 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header__content figure.snip1421 img {
  opacity: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content figure.snip1421:after,
.header__content figure.snip1421:before,
.header__content figure.snip1421 figcaption:after,
.header__content figure.snip1421 figcaption:before {
  background: #0a0a0a;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 50%;
  bottom: 50%;
}

.header__content figure.snip1421:before {
  left: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.header__content figure.snip1421:after {
  left: 25%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.header__content figure.snip1421 figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  z-index: -1;
}

.header__content figure.snip1421 figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  z-index: -1;
}

.header__content figure.snip1421 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}

.header__content figure.snip1421 h2,
.header__content figure.snip1421 p,
.header__content figure.snip1421 .icons {
  margin: 0;
  width: 100%;
  opacity: 0;
}

.header__content figure.snip1421 h2 {
  font-weight: 900;
  text-transform: uppercase;
}

.header__content figure.snip1421 p {
  font-weight: 300;
  text-align: center;
}

.header__content figure.snip1421 .icons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}

.header__content figure.snip1421 i {
  padding: 0px 10px;
  display: inline-block;
  font-size: 24px;
  color: #ffff;
  text-align: center;
  opacity: 0.8;
}

.header__content figure.snip1421 i:hover {
  opacity: 1;
}

.header__content figure.snip1421:hover:after,
.header__content figure.snip1421.hover:after,
.header__content figure.snip1421:hover:before,
.header__content figure.snip1421.hover:before,
.header__content figure.snip1421:hover figcaption:after,
.header__content figure.snip1421.hover figcaption:after,
.header__content figure.snip1421:hover figcaption:before,
.header__content figure.snip1421.hover figcaption:before {
  top: 0;
  bottom: 0;
  opacity: 0.8;
}

.header__content figure.snip1421:hover figcaption h2,
.header__content figure.snip1421.hover figcaption h2,
.header__content figure.snip1421:hover figcaption p,
.header__content figure.snip1421.hover figcaption p,
.header__content figure.snip1421:hover figcaption .icons,
.header__content figure.snip1421.hover figcaption .icons {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.header__content figure.snip1421:hover figcaption h2,
.header__content figure.snip1421.hover figcaption h2,
.header__content figure.snip1421:hover figcaption .icons,
.header__content figure.snip1421.hover figcaption .icons {
  opacity: 1;
  text-align: center;
}

.header__content figure.snip1421:hover figcaption p,
.header__content figure.snip1421.hover figcaption p {
  opacity: 0.7;
}

.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: unset !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.plane.main {
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}

.plane .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 60px #957000, inset 0 0 60px #957000;
          box-shadow: 0 0 60px #957000, inset 0 0 60px #957000;
}

.plane .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}

.plane .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}

.plane .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}

.plane .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}

.plane .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.close-nav-menu {
  display: none;
}

header {
  width: 100%;
  z-index: 20;
}

header.can-animate {
  -webkit-transition: visibility 0s 0.3s linear, -webkit-transform 0.3s ease;
  transition: visibility 0s 0.3s linear, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, visibility 0s 0.3s linear;
  transition: transform 0.3s ease, visibility 0s 0.3s linear, -webkit-transform 0.3s ease;
}

header.is-fixed {
  position: fixed;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

header.scroll-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/*# sourceMappingURL=styles.css.map */