//start:  service
.section__service {
    background: url(./images/bg-service.png);
    padding: 16px;
    
    .service__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        .service__item {
            &:hover {
                transform: translate3d(0, -10px, 0);
            }
            width: calc(33.33% - 8px);
            box-shadow: 0px 0px 14px $color-primary;
            border-radius: 10px;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            padding: 16px;
            background: $color-white;
            h4 {
                text-align: center;
                @include font-config(18px, 600);
                @include text-spacing();
                color: #000;
                margin-bottom: 18px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $color-primary;
                    bottom: 0;
                }
            }
            .service__image {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-bottom: 18px;
                img {
                    border-radius: 999px;
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    border: 1px solid $color-dark;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &:first-child {
                        margin-right: -32px;
                    }
                    &:last-child {
                        margin-left: -32px;
                    }
                }
            }
            .service__desc {
                @include font-config(14px, 600);
                @include text-spacing();
            }
        }
    }
}
.service__title {
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 24px 0;
    text-align:center;
    h3{
        @include font-config(43px, 600);
        @include text-spacing();
        color: $color-dark;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 24px;
            width: 70%;
            bottom: 10px;
            left: -13px;
            background: -webkit-gradient(linear, left top, right top, from(#b138a8), to(#fa7405));
            background: linear-gradient(to right, yellow, #957000);
            z-index: -1;
        }
    }
}
// end: service

// cline
.sclick__slider {
    padding: 16px;
    .seoshine__sclick--slider {
        li {
            .seoshine__circle-inner {
               background-color:#fff;
               border-radius: 999px;
               border: 1px solid rgba(0 ,0, 0, .1);
               width: 300px;
               height: 300px;
               margin: 0 auto;
               position: relative;
                .seoshine__circle-box {
                    text-align: center;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    @include font-config(12px, 400);
                    @include text-spacing();
                }
                .seoshine__circle-counter {
                    position: absolute;
                    top: 24px;
                    right: -35px;
                    width: 100px;
                    height: 100px;
                    // border: 4px solid yellow;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    background-image: linear-gradient(to right, #F08080  ,#F2E9E4);

                    .counter {
                        @include font-config(20px, 600);
                        @include text-spacing();
                        color: #ffff;
                    }
                    span {
                        color: #ffff;
                        font-size: 20px;
                    }
                }
            }
            &:nth-of-type(2n + 1) .seoshine__circle-counter {
                background-image: linear-gradient(to right, #023E8A  , #48CAE4);

                // border-color: #588157;
            }
            &:nth-of-type(3n + 1) .seoshine__circle-counter {
                // background: linear-gradient(to right, yellow, #957000);
                // border-color: #023E8A ;
                background: #48CAE4;
                background-image: linear-gradient(to right, #588157  , #A3B18A);
            }
           
        }
    }
}
.section__count {
    background: url(./images/bg-service.png);
}