//start:  service
.section__service {
    background: url(./images/bg-service.png);
    padding: 16px;
    .service__title {
        display:flex;
        align-items:center;
        justify-content:center;
        margin-bottom: 24px;
        h3{
            @include font-config(43px, 600);
            @include text-spacing();
            color: $color-dark;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 24px;
                width: 70%;
                bottom: 10px;
                left: -13px;
                background: -webkit-gradient(linear, left top, right top, from(#b138a8), to(#fa7405));
                background: linear-gradient(to right, yellow, #957000);
                z-index: -1;
            }
        }
    }
    .service__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        .service__item {
            &:hover {
                // transform: scaleY(1.1);
            }
            width: calc(33.33% - 8px);
            box-shadow: 0px 0px 14px $color-primary;
            border-radius: 10px;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            padding: 16px;
            background: $color-white;
            h4 {
                text-align: center;
                @include font-config(18px, 400);
                @include text-spacing();
                color: #0909ad;
                margin-bottom: 18px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $color-primary;
                    bottom: 0;
                }
            }
            .service__image {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-bottom: 18px;
                img {
                    border-radius: 999px;
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                    border: 1px solid $color-dark;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &:first-child {
                        margin-right: -32px;
                    }
                    &:last-child {
                        margin-left: -32px;
                    }
                }
            }
            .service__desc {
                @include font-config(14px, 600);
                @include text-spacing();
            }
        }
    }
}
// end: service

